.Rproj.user
.Rhistory
.RData
.Ruserdata
.bash_history
.cache/
.config/
.ipynb_checkpoints/
.ipython/
.jupyter/
.local/
.dotnet/*
.gnupg/
.vscode-R/
.vscode-server/
.ssh/
.duckdb/
.duckdb_history
.gitconfig
.dbt/user.yml
target/
dbt_packages/
logs/